<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Images</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'image/style.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse"  >
        <div class="container-fluid">
            <!-- Header -->
            <div class="navbar-header">
                <!--whenever browser window size is decreased, all nav bar items will be listed through this button -->
                <button type="button" class="navbar-toggle" data_toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                     <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'image:index' %}">Images</a>
            </div>
            <!-- items-->
            <div class="collapse navbar-collapse" id="topNavBar">
                 <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <a href="{% url 'image:upload' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;
                            Add Image
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% for image in object_list %}
        <div class="col-sm-4 col-lg-2">
                    <div class="thumbnail">
                        <a href="#">
                            <img src="{{ image.imagesrc.url }}" class="img-responsive">
                        </a>
                        <div class="caption">
                            <h2>{{ image.title}}</h2>
                            <h4>{{ image.content }}</h4>

                            <!-- View Details -->
                            <a href="{% url 'image:details' image.pk %}" class="btn btn-primary btn-sm" role="button">View Detail</a>
                        </div>
                    </div>
        </div>
    {% endfor %}



</body>
</html>